@model Inmobiliaria3.Models.Inmueble

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ambientes" class="control-label"></label>
                <input asp-for="Ambientes" class="form-control" />
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="sel1">Seleccione un uso:</label>
                <select class="form-control" name="Uso">
                    <option value="Comercial">Comercial</option>
                    <option value="Residencial">Residencial</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sel1">Seleccione un tipo:</label>
                <select class="form-control" name="Tipo">
                    <option value="Departamento">Departamento</option>
                    <option value="Local">Local</option>
                    <option value="Depósito">Depósito</option>
                    <option value="Oficina individual">Oficina individual</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input checked class="form-check-input" asp-for="Disponible" /> @Html.DisplayNameFor(model => model.Disponible)
                </label>
            </div>
            <div class="form-group">
                <label for="sel1">Seleccione un propietario:</label>
                <select class="form-control" id="sel1" name="idPropietario">
                    @foreach (Propietario item in ViewBag.propietarios)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

